In [1]:
import recomandation

In [5]:
df = recomandation.reco(15)

In [6]:
df

,movieId,title,genres,Predictions
662,1080,Monty Python's Life of Brian (1979),Comedy,3.231573
669,1090,Platoon (1986),Drama|War,3.031839
224,348,Bullets Over Broadway (1994),Comedy,2.967341
515,852,Tin Cup (1996),Comedy|Drama|Romance,2.918055
486,805,"Time to Kill, A (1996)",Drama|Thriller,2.851778
413,653,Dragonheart (1996),Action|Adventure|Fantasy,2.783178
216,337,What's Eating Gilbert Grape (1993),Drama,2.730816
422,671,Mystery Science Theater 3000: The Movie (1996),Comedy|Sci-Fi,2.721821
240,376,"River Wild, The (1994)",Action|Thriller,2.673036
33,58,"Postman, The (Postino, Il) (1994)",Comedy|Drama|Romance,2.637897
1969,3263,White Men Can't Jump (1992),Comedy|Drama,2.634506
778,1343,Cape Fear (1991),Thriller,2.630318
6258,82459,True Grit (2010),Western,2.590161
660,1077,Sleeper (1973),Comedy|Sci-Fi,2.543622
172,272,"Madness of King George, The (1994)",Comedy|Drama,2.529833

In [14]:
df.iloc[:,[0]]

      movieId
662      1080
669      1090
224       348
515       852
486       805
413       653
216       337
422       671
240       376
33         58
1969     3263
778      1343
6258    82459
660      1077
172       272

In [28]:
t = df['movieId']

In [29]:
t = list(t)

In [30]:
t

[1080,
 1090,
 348,
 852,
 805,
 653,
 337,
 671,
 376,
 58,
 3263,
 1343,
 82459,
 1077,
 272]