In [3]:
import pandas as pd

In [4]:
!pwd

/home/fast_api/app

In [7]:
rating_data = pd.read_csv('/home/fast_api/datas/ratings.csv')
movie_data = pd.read_csv('/home/fast_api/datas/movies.csv')

In [8]:
rating_data

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [9]:
movie_data

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9120,162672,Mohenjo Daro (2016),Adventure|Drama|Romance
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary
9123,164977,The Gay Desperado (1936),Comedy
9124,164979,"Women of '69, Unboxed",Documentary

In [14]:
print(movie_data.shape)

(9125, 3)

## 잠재 요인 기반 협업 필터링 추천시스템

In [15]:
rating_data.drop('timestamp', axis=1, inplace = True)

In [16]:
rating_data.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [18]:
movie_data.drop('genres', axis=1, inplace = True)

In [19]:
movie_data.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [23]:
user_movie_data = pd.merge(rating_data,movie_data, on = 'movieId')

In [28]:
user_movie_rating = user_movie_data.pivot_table('rating', index = 'userId', columns = 'title')

In [35]:
user_movie_rating = user_movie_rating.fillna(0)

In [36]:
movie_user_rating = user_movie_rating.values.T

In [37]:
movie_user_rating.shape

(9064, 671)

In [38]:
movie_user_rating

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [42]:
from sklearn.decomposition import TruncatedSVD

In [45]:
SVD = TruncatedSVD(n_components=12)
matrix = SVD.fit_transform(movie_user_rating)
matrix.shape

(9064, 12)

#### 출처 : https://lsjsj92.tistory.com/569

In [46]:
matrix[0]

array([ 0.01227491,  0.00250759,  0.01554837, -0.03398376, -0.01444969,
        0.00362073, -0.00229982,  0.04489994, -0.0162746 , -0.02164189,
        0.01109134, -0.01057127])

In [47]:
corr = np.corrcoef(matrix)

In [48]:
corr.shape

(9064, 9064)

In [49]:
movie_title = user_movie_rating.columns

In [50]:
movie_title_list = list(movie_title)
coffey_hands = movie_title_list.index("Guardians of the Galaxy (2014)")

In [51]:
corr_coffey_hands = corr[coffey_hands]

In [54]:
list(movie_title[(corr_coffey_hands >= 0.9)])[:50]

['10,000 BC (2008)',
 '2 Guns (2013)',
 '2012 (2009)',
 '21 (2008)',
 '300: Rise of an Empire (2014)',
 'Abduction (2011)',
 'Adjustment Bureau, The (2011)',
 'Adventures of Tintin, The (2011)',
 'Alice in Wonderland (2010)',
 'Amazing Spider-Man, The (2012)',
 'Angels & Demons (2009)',
 'Ant-Man (2015)',
 'Avatar (2009)',
 'Avengers, The (2012)',
 'Avengers: Age of Ultron (2015)',
 'Batman: The Dark Knight Returns, Part 1 (2012)',
 'Batman: The Dark Knight Returns, Part 2 (2013)',
 'Battle: Los Angeles (2011)',
 'Bee Movie (2007)',
 'Beowulf (2007)',
 'Big Hero 6 (2014)',
 'Bolt (2008)',
 'Brave (2012)',
 'Captain America: Civil War (2016)',
 'Captain America: The First Avenger (2011)',
 'Captain America: The Winter Soldier (2014)',
 'Chronicle (2012)',
 'Click (2006)',
 'Cloverfield (2008)',
 'Cop Out (2010)',
 'Dark Knight Rises, The (2012)',
 'Diary of a Wimpy Kid (2010)',
 'District 9 (2009)',
 'Dredd (2012)',
 'Drillbit Taylor (2008)',
 'Déjà Vu (Deja Vu) (2006)',
 'Edge of Tomorrow (2014)',
 'Elysium (2013)',
 "Ender's Game (2013)",
 'Ex Machina (2015)',
 'Fright Night (2011)',
 'Fury (2014)',
 'Get Smart (2008)',
 'Ghost Rider: Spirit of Vengeance (2012)',
 'Girl with the Dragon Tattoo, The (2011)',
 'Godzilla (2014)',
 'Gravity (2013)',
 'Green Hornet, The (2011)',
 'Green Lantern (2011)',
 'Guardians of the Galaxy (2014)']